################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/manav/v16/Browse.VC.db
/Windows/AutoShutdownTools/.vs/AutoShutdownTools/v16/Browse.VC.opendb
